*{
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}


body{

margin:0;
background:linear-gradient(
135deg,
#667eea,
#764ba2
);

color:white;

}


.navbar{

display:flex;
justify-content:space-between;
padding:20px 60px;

background:rgba(255,255,255,0.15);

backdrop-filter:blur(10px);

}


.navbar a{

margin:20px;
cursor:pointer;

}


.hero{

text-align:center;
padding:70px 20px;

}


.hero h1{

font-size:45px;

}


.form-card{

width:400px;
margin:auto;

padding:30px;

background:white;

color:black;

border-radius:25px;

box-shadow:0 20px 40px #0005;

}


.form-card input{

width:100%;
padding:15px;
margin:10px 0;

border-radius:10px;

border:1px solid #ddd;

}


button{

padding:12px 25px;

border:none;

border-radius:20px;

background:#667eea;

color:white;

cursor:pointer;

margin:10px;

}



.result{

text-align:center;

padding:40px;

}


.future-card{

background:white;

color:black;

width:500px;

margin:20px auto;

padding:25px;

border-radius:25px;

box-shadow:0 10px 30px #0004;

}



.buttons{

text-align:center;

}


footer{

text-align:center;

padding:30px;

}
.loading{

text-align:center;

padding:40px;

}


.robot{

font-size:70px;

animation:bounce 1s infinite;

}


.loading h2{

font-size:30px;

}


@keyframes bounce{

0%{
transform:translateY(0);
}

50%{
transform:translateY(-20px);
}

100%{
transform:translateY(0);
}

}
.buttons button{

font-size:16px;

padding:14px 25px;

background:white;

color:#667eea;

border-radius:30px;

transition:0.3s;

}


.buttons button:hover{

transform:translateY(-5px);

box-shadow:0 10px 20px #0004;

}